.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.headerli a {
    display: block;
    color: black;
    text-align: right;
    float: right;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 10px;
}

.headerli a:hover {
    text-decoration: underline;
}

.panel.header.headerli a {
    border-radius: 10px;
}

.container {
    text-align: center;
    margin: 100px;
    object-position: center bottom;
}

.search-area {
    color: transparent;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
    border-radius: 50px;
}

.search-area:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

.input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
}

.input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    border: none;
}


/*Margin değerlerinde değişiklik yapılarak butonların konumları ayarlandı.*/

.buttons button {
    margin: 50px 4px;
    margin-left: -130px;
    margin-right: 130px;
    padding: 0 16px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons button:hover {
    box-shadow: #3c4043;
}


/* .googlesearch {
    margin: 50px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.feelinglucky {
    height: 36px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
} */

.footer {
    margin: 0;
    padding: 10;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -1050px;
    margin-right: -20px;
    line-height: 10px;
    background-color: #f2f2f2;
}

.footerli {
    float: left;
}

.footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: -20px;
    margin-right: 20px;
}

.footerli a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}


/* Google Search ve I'm feeling lucky butonlarının görünümlerinde düzenlemeler yapıldı */


/* .buttons.feelinglucky {
    vertical-align: bottom;
    border-radius: 5px;
    border: 1px #f2f2f2;
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    object-position: bottom;
} */


/* .buttons {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin-bottom: 300px;
} */


/* .buttons input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 50px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
} */